{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/patient.css') }}">
{% endblock %}

{% block body %}


<div class="container-center">
    <h2>Liste des patients</h2>


<!-- Formulaire superposé -->
<div class="form_h2">
    <h2>Ajouter un patient</h2>
</div>
<form action="{{ path('app_ajouter_patient') }}" method="POST" style="display: flex; gap: 10px; align-items: center; margin-bottom: 15px;">
    <input type="text" name="nom" placeholder="Nom" required>
    <input type="text" name="prenom" placeholder="Prénom" required>
    <input type="text" name="telephone" placeholder="Téléphone" required>
    <select name="sexe" required>
        <option value="">Sexe</option>
        <option value="M">M</option>
        <option value="F">F</option>
    </select>
    <input type="text" name="note" placeholder="Note">
    <button type="submit">Ajouter le patient</button>
</form>





    <div class="table-responsive">
        <table class="table-adherents">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>Sexe</th>
                    <th>Note</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.id }}</td>
                        <td>{{ patient.nom }}</td>
                        <td>{{ patient.prenom }}</td>
                        <td>{{ patient.telephone }}</td>
                        <td>{{ patient.sexe }}</td>
                        <td>{{ patient.note }}</td>
                        <td class="icone-action">
                            <!-- Supprimer -->
                            <form method="POST" action="{{ path('app_retirer_patient', {'id': patient.id}) }}" onsubmit="return confirm('Supprimer définitivement ?');">
                                <button type="submit" title="Supprimer le patient">
                                    🗑️
                                </button>
                            </form>

                            <!-- Modifier -->
                            <form method="GET" action="{{ path('app_modifier_patient', {'id': patient.id}) }}">
                                <button type="submit" title="Modifier le patient">
                                    🔄️
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun patient trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
